body {
    background: rgb(24, 24, 24) !important;
}

.text-accent {
    color: rgb(29, 185, 84);
}

.border-accent {
    border: 1px solid rgb(29, 185, 84) !important;
}

.text-accent-highlight {
    color: rgb(30, 215, 96);
}

.bg-accent {
    background-color: rgb(29, 185, 84) !important;
}

.bg-accent-highlight {
    background-color: rgb(30, 215, 96);
}

.text-lg-left {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-grey {
    color: rgb(163, 163, 163);
}

.text-right {
    text-align: right;
}

.font-size-sm {
    font-size: 14px;
}

.font-size-xs {
    font-size: 10px;
}

.font-size-custom {
    font-size: 12px;
}

.font-size-md {
    font-size: 16px;
}

.font-size-lg {
    font-size: 18px;
}

.font-size-xl {
    font-size: 22px;
}

.font-weight-bold {
    font-weight: 700;
}

.button-spotify {
    border: 1px solid #fff !important;
    border-radius: 40px !important;
    font-weight: 700 !important;
    font-size: 16px !important;
}

.button-spotify-accent {
    border: 1px solid rgb(29, 185, 84) !important;
    border-radius: 40px !important;
    font-weight: 700 !important;
    font-size: 16px !important;
}

.button-spotify:hover, .button-spotify-accent:hover {
    background: rgb(30, 215, 96) !important;
    border-color: rgb(30, 215, 96) !important;
}

.border-radius {
    border-radius: 40% !important;
}

@media screen and (min-width:768px) {
    .text-lg-left {
        text-align: left !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}